@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
html {
  font-family: "Poppins", sans-serif !important;
  margin: 0 40px;
  min-width: 700px;
}

h1 {
  font-size: 2em;
  font-weight: bold;
  margin: 0;
  padding: 0;
}
